<div class="container">
    <h2>Plan</h2>
    <form class="plan">
        <label for="start_addr"><strong>Start</strong></label>
        <input type="text" name="start_addr" id="start_addr">
        <label for="destination"><strong>Destination</strong></label>
        <input type="text" name="destination" id="destination">
        <button type="submit" id="sub-but"><strong>Get Route</strong></button>
    </form>
    <br>
    <p id="error" style="color: red;"></p>
</div>
<div class="container">
    <div id="map"></div>
    <div id="routeInfo"></div>
</div>
<div class="container">
</div>
